// Default theme: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// Input
// ---
@input-affix-margin: 1rem;

// Tooltip
// ---
@tooltip-max-width: 30rem;

:root {
  --primary-1: @primary-1;
  --primary-2: @primary-2;
  --primary-3: @primary-3;
  --primary-4: @primary-4;
  --primary-5: @primary-5;
  --primary-6: @primary-6;
  --primary-7: @primary-7;
  --primary-8: @primary-8;
  --primary-9: @primary-9;
  --primary-10: @primary-10;
  --primary-color: @primary-color;

  --gray-1: @gray-1;
  --gray-2: @gray-2;
  --gray-3: @gray-3;
  --gray-4: @gray-4;
  --gray-5: @gray-5;
  --gray-6: @gray-6;
  --gray-7: @gray-7;
  --gray-8: @gray-8;
  --gray-9: @gray-9;
  --gray-10: @gray-10;
  --gray-11: @gray-11;
  --gray-12: @gray-12;
  --gray-13: @gray-13;

  --text-color: @text-color;

  --screen-xs: @screen-xs;
  --screen-sm: @screen-sm;
  --screen-md: @screen-md;
  --screen-lg: @screen-lg;
  --screen-xl: @screen-xl;
  --screen-xxl: @screen-xxl;
}
