// Default colors: https://github.com/ant-design/ant-design/blob/master/components/style/color/colors.less

@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './common.less';

@cyan-1: #e3f2ef;
@cyan-2: #c7e5df;
@cyan-3: #abd8cf;
@cyan-4: #8fccbf;
@cyan-5: #73bfae;
@cyan-6: #50af9a;
@cyan-7: #479a88;
@cyan-8: #3a7e6f;
@cyan-9: #2d6256;
@cyan-10: #20463e;
@cyan-base: @cyan-6;

@primary-1: @cyan-1;
@primary-2: @cyan-2;
@primary-3: @cyan-3;
@primary-4: @cyan-4;
@primary-5: @cyan-5;
@primary-6: @cyan-6;
@primary-7: @cyan-7;
@primary-8: @cyan-8;
@primary-9: @cyan-9;
@primary-10: @cyan-10;
@primary-color: @primary-6;

@gray-1: #fff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #f0f0f0;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #434343;
@gray-10: #262626;
@gray-11: #1f1f1f;
@gray-12: #141414;
@gray-13: #000;
